<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="main.js"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
  </head>

  <body class="p-4">
    <div id="app">
      <table class="table">
        <thead>
          <tr>
            <th v-for="item in header" scope="col">{{item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in data">
            <th v-for="v in header" scope="col">{{item[v] || '-'}}</th>
          </tr>
        </tbody>
      </table>
      <pre> {{ data }}</pre>
    </div>
    <script type="module">
      import { createApp } from 'vue';

      createApp({
        data() {
          return {
            data: [
              {
                id: 1,
                name: 'bird',
                tel: 123,
                tel1: 123,
                tel2: 123,
              },
              {
                id: 2,
                name: 'sutin',
                tel: 123,
              },
              {
                id: 3,
                name: 'tan',
                tel: 123,
                tel1: 123,
                tel2: 123,
              },
            ],
          };
        },
        computed: {
          header() {
            return Object.getOwnPropertyNames(this.data[0]);
          },
        },
        methods: {
          greet() {
            console.log('hello');
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
